:host {
  display: block;
  margin: 0 15%;
  width: 70%;
}

h2 {
  background-color: #f4f4fc;
  text-align: center;
  padding: 0.8em;
  font-size: 1.8em;
}

h3 {
  background-color: #eaeaf2;
  font-size: 1em;
  padding: 0.4em;
  text-transform: uppercase;
}
