<div class="container">
  <div class="top">
    <a routerLink="/contacts"> < Contacts </a>
    <span [className]="contact.isFavorite ? 'favorite':'not-favorite'" (click)="toggleFavorite()"></span>
  </div>
  <div class="mid">
    <img [src]="contact.smallImageURL" [alt]="contact.name">
    <h3 class="name">{{ contact.name }}</h3>
    <h4 class="company">{{ contact.companyName }}</h4>
  </div>
  <div class="info-list">
    <div class="info-item" *ngIf="contact.phone.home">
      <p class="title">PHONE:</p>
      <div class="phone-info">
        <p class="info">{{ contact.phone.home }}</p>
        <p>Home</p>
      </div>
    </div>
    <div class="info-item" *ngIf="contact.phone.mobile">
      <p class="title">PHONE:</p>
      <div class="phone-info">
        <p class="info">{{ contact.phone.mobile }}</p>
        <p>Mobile</p>
      </div>
    </div>
    <div class="info-item" *ngIf="contact.phone.work">
      <p class="title">PHONE:</p>
      <div class="phone-info">
        <p class="info">{{ contact.phone.work }}</p>
        <p>Work</p>
      </div>
    </div>
    <div class="info-item" *ngIf="contact.address">
      <p class="title">ADDRESS:</p>
      <p class="info">{{ contact.address.street }}</p>
      <p class="info">{{ contact.address.city }}, {{ contact.address.zipCode }}, {{ contact.address.country }}</p>
    </div>
    <div class="info-item" *ngIf="contact.birthdate">
      <p class="title">BIRTH DATE:</p>
      <p class="info">{{ contact.birthdate | date:'longDate' }}</p>
    </div>
    <div class="info-item" *ngIf="contact.emailAddress">
      <p class="title">EMAIL:</p>
      <p class="info">{{ contact.emailAddress }}</p>
    </div>
  </div>
</div>
